SICA_URL=https://restaurante.szn.ifsp.edu.br/sicaweb/home
SICA_PRONTUARIO=sz3083179
DEST_EMAIL=dujunarezi@gmail.com

# Conta que vai enviar o email.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu_email@gmail.com
SMTP_PASS=sua_senha_de_app
EMAIL_FROM=seu_email@gmail.com

# Opcional
HEADLESS=true
TIMEOUT_MS=30000
ARTIFACTS_DIR=artifacts
